html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/Imagenes/fondo-escritorio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #222222;
}

@media (max-width: 768px) {
  body {
    background-image: url('assets/Imagenes/fondo-cel.jpg');
  }
}
